POSTGRES_USER=desenv
POSTGRES_HOST=host.docker.internal
POSTGRES_PASSWORD=rapadura
POSTGRES_DB=ingestion_dev
POSTGRES_PORT=5432

# This is to access psql with no password prompt
PGPASSWORD=$POSTGRES_PASSWORD

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
